* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

.u100 {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
}

.u300 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
}

.u400 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

.u700 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

.s17px {
    font-size: 17px;
    color: #6d6d6d;
}

.padding36 {
    padding: 0 36px;
}

p {
    color: #555555;
    line-height: 26px;
}

h2 {
    color: #555555;
    font-size: 30px;
}

strong {
    color: #555555;
    font-weight: 500;
}

/* NAV */

.nav-container {
    width: 100%;
    position: relative;
}

ul {
    /* display: flex; */
}

li {
    list-style: none;
    display: inline;
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    padding: 0 15px;
    color: #6d6d6d;
}

li a i {
    margin-left: 6px;
    font-size: 14px;
    font-weight: 100;
    -webkit-text-stroke: 0.01px;
    -webkit-font-smoothing: antialiased;
}

.nav-one {
    width: fit-content;
    position: absolute;
    right: 0;
    height: 60px;
    border: 1px solid #555555;
    font-size: 17px;
}

.nav-one li {
    height: 40px;
    line-height: 40px;
    border: 1px solid #000
}

.nav-one li a i {
    margin-left: -2px;
}

.nav-two-container {
    width: 100%;
    position: absolute;
    right: 0;
}

.nav-two {
    height: 60px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    box-shadow: 0 15px 10px -15px rgba(31, 31, 31, 0.3);   
}

.nav-two .logo img {
    margin-top: -24px;
    width: 180px;
}

.nav-two li {
    margin: 6px;
    border: 1px solid #000;
}

.nav-two li a {
    padding: 4px;
}

.a-search,
.a-facebook,
.a-instagram {
    padding: 0 2px;
}

.special {
    color: #cf2e2e;
}

.fa-brands {
    height: 60px;
    font-size: 32px;
}

.fa-shopping-cart {
    font-size: 24px;
}

/* Section Zero */

.section-zero {
    height: 120px;
}

/* Section one */

.section-one-container,
.s1-new-container {
    width: 100%;
    background-color: #efefef;
}

.section-one {
    width: 90%;
    margin: auto;
}

.s1-video-container {
    position: relative;
    margin: auto;
}

video {
    width: 100%;
    padding-bottom: 36px;
}

.video-layer {
    position: absolute;
    height: 100%;
    left: 20%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #cf2e2e;
    padding: 3em;
}

.video-layer p {
    margin-top: 2em;
    font-size: 2em;
    color: #fff;
}

.video-layer a img {
    width: 150px;
    margin-bottom: 36px;
}

.s1-menu {
    width: 70%;
    margin: 32px auto;
    padding-bottom: 32px;
}

.s1-menu li a {
    font-weight: 500;
    color: #3f3f3f;
    font-size: 1.2em;
    padding-bottom: 4px;
    padding: 0 0 6px 0;
    margin: 0 12px;
    /* border: 1px solid #cf2e2e; */

}

.s1-menu .underline {
    border: 1px solid #ccc;
    width: 50%;
    margin: auto;
}

.s1-menu li:hover .underline {
    width: 90%;
    border: 1px solid #3f3f3f;

    transition: .3s;
}

.s1-new-container {
    padding: 64px 0;
    box-shadow: 1px 1px 2px 2px rgba(31, 31, 31, 0.3);   
    background-color: #efefef;
}

.s1-new {
    display: block;
    width: 800px;
    margin: auto;
    text-align: center;
}

.s1-new h3 {
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 400;
    margin: 12px 0;
}

.s1-new p:last-of-type {
    margin:  24px 0;
    font-size: 24px;
    font-weight: 400;
}

.s1-new a {
    text-decoration: none;
    color: #0096c0;
    margin-bottom: 40px;
}

/* Section two */

.section-two-container {
    width: 100%;
}

.section-two {
    width: 70%;
    margin: auto;
}

.s2a,
.s2b {
    display: flex;
    gap: 36px;
    margin-top: 96px;
}

.s2a-column {
    flex: 1;
    padding: 36px;
}

.s2b-column:last-of-type {
    display: block;
    width: 150%;

}

.s2a p {
    margin: 24px 0;
}

.s2a p a,
.s2b-column p a 
 {
    text-decoration: none;
    color: #0096c0;
    font-weight: 700;
}

.s2a p a:hover,
.s2b-column p a:hover 
 {
    color: #067c9c;
}

.button {
    margin: 12px 40px 12px 0;
    display: inline-block;
    border: 2px solid #000;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    color: #3f3f3f;
    transition: 0.3s;
}

.button.green {
    background-color: #7aa64e;
    color: #fff;
    font-weight: 700;
    border: 2px solid #7aa64e;
}

.button.white:hover {
    background-color: #3f3f3f;
    border: 2px solid #3f3f3f;
    color: #fff;
}

.button.green:hover {
    background-color: #648840;
    border: 2px solid #648840;
    color: #fff;
}

.s2a-column:last-of-type h2 {
    margin: 0 0 36px 16px;
}

.s2a-column ul li {
    margin-left: 34px;
    display: list-item;
    float: none;
    list-style: disc;
    margin-top: 12px;
} 

.s2a-column ul li a {
    display: inline-block;
    color: #0096c0;
    font-weight: 500;
}

.s2a-column .special {
    display: inline;
}

.s2a-column ul li a:hover {
    color: #067c9c;
}

.s2b-column:first-of-type {
    width: 200%;
    padding: 36px;  
    /* border: 2px solid #000; */
}

.s2b-column h1 {
    color: #3f3f3f;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 24px;
}

.s2b-column h3 {
    color: #555555;
    font-weight: 500;
    font-size: 20px;
}

.s2b-column p {
    margin: 16px 0;
}

