* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
}

.u100 {
    font-family: 'Montserrat';
    font-weight: 100;
    font-style: normal;
}

.u300 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;
}

.u400 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
}

.u700 {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
}

.s17px {
    font-size: 17px;
    color: #6d6d6d;
}

.padding36 {
    padding: 0 36px;
}

p {
    color: #555555;
    line-height: 26px;
}

h2 {
    color: #555555;
    font-size: 30px;
}

strong {
    color: #555555;
    font-weight: 500;
}

li {
    list-style: none;
}

li a {
    text-decoration: none;
}



/* NAV */

.nav-container {
    width: 100%;
    position: relative;
}

ul {
    /* display: flex; */
}

.nav-container li {
    display: inline;
    float: left;
}

.nav-container li a {
    display: block;
    padding: 0 15px;
    color: #6d6d6d;
}

.nav-container li a i {
    margin-left: 6px;
    font-size: 14px;
    /* font-weight: 100; */
    -webkit-text-stroke: 0.01px;
    -webkit-font-smoothing: antialiased;
}

.nav-one {
    width: fit-content;
    position: absolute;
    right: 0;
    height: 60px;
    /* border: 1px solid #555555; */
    font-size: 17px;
}

.nav-one li {
    height: 40px;
    line-height: 40px;
    /* border: 1px solid #000 */
}

.nav-one li a i {
    margin-left: -2px;
}

.nav-one .fa,
.nav-one .fa-brands {
    font-size: 24px;
    margin: 0 -12px;
}

.nav-one .fa-shopping-cart {
    margin-left: 12px;
}

.nav-two-container {
    width: 100%;
    position: absolute;
    right: 0;
}

.nav-two {
    height: 60px;
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    box-shadow: 0 15px 10px -15px rgba(31, 31, 31, 0.3);   
}

.nav-two .logo img {
    margin-top: -24px;
    width: 180px;
}

.nav-two li {
    margin: 6px;
    /* border: 1px solid #000; */
}

.nav-two li a {
    padding: 4px;
}

.a-search,
.a-facebook,
.a-instagram {
    padding: 0 2px;
}

.nav-one .special {
    color: #cf2e2e;
}

.fa-brands {
    height: 60px;
    font-size: 32px;
}

.fa-shopping-cart {
    font-size: 24px;
}

.nav-two-b {
    border-top: 1px solid #6d6d6d;
}

/* Section Zero */

.section-zero {
    height: 120px;
}



/* Section one */

.section-one-container,
.s1-new-container {
    width: 100%;
    background-color: #efefef;
}

.section-one {
    width: 90%;
    margin: auto;
}

.s1-video-container {
    position: relative;
    margin: auto;
}

video {
    width: 100%;
    padding-bottom: 36px;
}

.video-layer {
    position: absolute;
    height: 100%;
    left: 20%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid #cf2e2e; */
    padding: 3em;
}

.video-layer p {
    margin-top: 2em;
    font-size: 2em;
    color: #fff;
    /* border: 1px solid #cf2e2e; */
}

.video-layer span {
    display: block;
    margin-top: 100px;
}

.video-layer a img {
    width: 120px;
    margin-bottom: 36px;
}

.s1-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70%;
    margin: 32px auto;
    padding-bottom: 32px;
}

.s1-menu li a {
    font-weight: 500;
    color: #3f3f3f;
    font-size: 1.2em;
    padding-bottom: 4px;
    padding: 0 0 6px 0;
    margin: 0 12px;
    /* border: 1px solid #cf2e2e; */

}

.s1-menu .underline {
    border: 1px solid #ccc;
    width: 50%;
    margin: auto;
}

.s1-menu li:hover .underline {
    width: 90%;
    border: 1px solid #3f3f3f;

    transition: .3s;
}

.s1-new-container {
    padding: 64px 0;
    box-shadow: 1px 1px 2px 2px rgba(31, 31, 31, 0.3);   
    background-color: #efefef;
}

.s1-new {
    display: block;
    width: 800px;
    margin: auto;
    text-align: center;
}

.s1-new h3 {
    color: #3f3f3f;
    font-size: 20px;
    font-weight: 400;
    margin: 12px 0;
}

.s1-new p:last-of-type {
    margin:  24px 0;
    font-size: 24px;
    font-weight: 400;
}

.s1-new a {
    text-decoration: none;
    color: #0096c0;
    margin-bottom: 40px;
}



/* Section two */

.section-two-container {
    width: 100%;
}

.section-two {
    width: 70%;
    margin: auto;
}

.s2a,
.s2b {
    display: flex;
    gap: 36px;
    margin-top: 96px;
}

.s2a-column {
    flex: 1;
    padding: 36px;
}

.s2b-column:last-of-type {
    display: block;
    width: 150%;

}

.s2a p {
    margin: 24px 0;
}

.s2a p a,
.s2b-column p a 
 {
    text-decoration: none;
    color: #0096c0;
    font-weight: 700;
}

.s2a p a:hover,
.s2b-column p a:hover 
 {
    color: #067c9c;
}

.button {
    margin: 12px 40px 12px 0;
    display: inline-block;
    border: 2px solid #000;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: 500;
    color: #3f3f3f;
    transition: 0.3s;
}

.button.green {
    background-color: #7aa64e;
    color: #fff;
    font-weight: 700;
    border: 2px solid #7aa64e;
}

.button.white:hover {
    background-color: #3f3f3f;
    border: 2px solid #3f3f3f;
    color: #fff;
}

.button.green:hover {
    background-color: #648840;
    border: 2px solid #648840;
    color: #fff;
}

.s2a-column:last-of-type h2 {
    margin: 0 0 36px 16px;
}

.s2a-column ul li {
    margin-left: 34px;
    display: list-item;
    float: none;
    list-style: disc;
    margin-top: 12px;
} 

.s2a-column ul li a {
    display: inline-block;
    color: #0096c0;
    font-weight: 500;
}

.s2a-column .special {
    display: inline;
}

.s2a-column ul li a:hover {
    color: #067c9c;
}

.s2b-column:first-of-type {
    width: 200%;
    padding: 36px;  
    /* border: 2px solid #000; */
}

.s2b-column h1 {
    color: #3f3f3f;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 24px;
}

.s2b-column h3 {
    color: #555555;
    font-weight: 500;
    font-size: 20px;
}

.s2b-column p {
    margin: 16px 0;
}



/* Section three */

.section-three-container {
    width: 100%;
}

.section-three {
    width: 70%;
    margin: 64px auto;
}

.section-three h2 {
    text-align: center;
    margin: 48px 0;
}

.s3-essentials-container {
    /* border: 1px solid #6d6d6d; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.essentials {
    display: block;
    position: relative;
    width: 280px;
    height: 200px;
    border-radius: 12px;
} 

.essentials img {
    width: 280px;
    height: 200px;
    border-radius: 12px;
}

.essentials p {
    position: absolute;
    width: 100%;
    top: 45%;
    color: #0096c0;
    background-color: #fff;
    padding: 24px;
    font-size: 18px;
    font-weight: 500;
    z-index: 3;
    transition: .3s;
}

.essentials:hover p {
    background-color: #3f3f3f;
    color: #fff;
}



/* Section four */

.section-four-container {
    width: 100%;
}

.section-four {
    width: 60%;
    margin: auto;
    border: 1px solid #ccc;
    padding: 28px;
}

.section-four h2 {
    margin: 0 0 16px 0;
}

.section-four h3 {
    margin: 40px 0 16px 0;
    color: #3f3f3f;
    font-size: 22px;
}

.s4-faq-container {
    margin-top: 12px;
}

.section-four .faq-question {
    float: none;
    display: block;
    border-top: 1px solid #ccc;
    cursor: pointer;
    padding: 12px;
}

.section-four li a {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

.section-four li i {
    /* margin-left: -18px; */
    font-size: 18px;
    transition: 0.3s;
    color: #6d6d6d;
}

.section-four li p {
    transition: 0.3s;
}

.faq-question a:hover i,
.faq-question a:hover p {
    color: #0096c0;
}

/* .active a {
    background-color: #f6f6ff;
} */

.active a p {
    color: #000;
    font-weight: 500;
}

.active a i {
    color: #000;
    transform: rotate(180deg);
    transition: .3s;
}

.faq-answer {
    margin: 24px;
    /* border: 1px solid #000; */
    cursor: text;
    display: none;
}
/* 
.faq-answer p:hover {
    cursor: text;
} */

.faq-answer a {
    color: #067c9c;
    margin-bottom: 12px;
}

.faq-answer a:hover {
    color: #0096c0;
}

.faq-answer p a {
    display: inline-block;
}

.faq-answer li {
    list-style: disc;
    color: #3f3f3f;
    margin: 0 0 16px 16px;
}

.faq-answer p {
    margin-bottom: 12px;
}

.faq-answer h2 {
    font-weight: 400;
    margin-bottom: 12px;
}

.faq-answer h4 {
    font-weight: 400;
    color: #3f3f3f;
    font-size: 1.2rem;
    margin-bottom: 12px;
}

.faq-answer img {
    width: 95%;
    margin: 24px 0;
}

.faq-answer .top-reasons li {
    margin-left: 20px;
    list-style: decimal;
}

.faq-answer .button {
    color: #3f3f3f;
    width: fit-content;
}

/* Section five */

.section-five-container {
    width: 100%;
}

.section-five {
    width: 70%;
    margin: 100px auto;
}

.section-five > div {
    position: relative;
}

.section-five h2 {
    font-size: 32px;
    font-weight: 400;
    margin: auto;
    width: fit-content;
    z-index: 1;
    background-color: #fff;
    padding: 0 16px;
}

.strikethrough {
    border: 1px solid #efefef;
    position: absolute;
    width: 100%;
    top: 50%;
    z-index: -1;
}

.destination-container {
    width: 100%;
    margin: auto;
    margin-top: 56px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    gap: 4px;
}

.destination-box {
    flex: 1 1 400px;
    /* position: relative; */
    /* border: 1px solid #000; */
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 64px;
    height: 382px;
}

.destination-box h3 {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.destination-box p {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.destination-box .button-explore {
    color: #6d6d6d;
    background-color: #fff;
    padding: 6px 18px;
    text-decoration: none;
    border: 1px solid #fff;
    transition: 0.3s;
}

.destination-box .button-explore:hover {
    background-color: #efefef;
}

.dest-1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/11/canggu-pererenan-beach.jpg);
    background-size: cover;
    background-position: center;
}

.dest-2 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/11/seminyak-beach-club.jpg);
    background-size: cover;
    background-position: center;
}

.dest-3 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/10/surf-kuta-beach.jpg);
    background-size: cover;
    background-position: center;
}

.dest-4 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/11/ubud-monkey-forest.jpg);
    background-size: cover;
    background-position: center;
}

.dest-5 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/11/nusa-dua-beach.jpg);
    background-size: cover;
    background-position: center;
}

.dest-6 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/08/legian-beach-sunset-january-600.jpg);
    background-size: cover;
    background-position: center;
}

.dest-7 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/08/sanur-beach-weather-sunny-laidback.jpg);
    background-size: cover;
    background-position: center;
}

.dest-8 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2021/11/karma-beach-ungasan-uluwatu-600.jpeg);
    background-size: cover;
    background-position: center;
}

.dest-9 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/08/bali-melasti-beach-sunrise.jpg);
    background-size: cover;
    background-position: center;
}

.dest-10 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2021/09/jimbaran-beach.jpg);
    background-size: cover;
    background-position: center;
}

.dest-11 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/08/scuba-diving-600.jpg);
    background-size: cover;
    background-position: center;
}

.dest-12 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/11/bedugul-temple.jpg);
    background-size: cover;
    background-position: center;
}

.dest-13 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2020/12/kelingking-beach-nusa-penida-1200.jpg);
    background-size: cover;
    background-position: center;
}

.dest-14 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2023/07/Sidemen-ricefields-640.jpg);
    background-size: cover;
    background-position: center;
}

.dest-15 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2023/07/batukaru-mountain-800.jpg);
    background-size: cover;
    background-position: center;
}

.dest-16 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2022/02/lombok-surf-1280.jpg);
    background-size: cover;
    background-position: center;
}

.dest-17 {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://bali.com/wp-content/uploads/2022/09/gili-air-1200x800-1.jpg);
    background-size: cover;
    background-position: center;
}


/* Section Six */

.section-six-container {
    width: 100%;
    border-top: 3px solid #6d6d6d;
}

.section-six {
    width: 60%;
    margin: auto;
    padding: 64px;
}

.section-six-a {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.section-six .link-blue {
    margin-top: 12px;
    display: block;
    text-decoration: none;
    color: #067c9c;
    font-size: 1.3rem;
}

.section-six .link-blue:hover {
    color: #0096c0;
}

.section-six .button.white {
    margin: 28px 0 12px 0;
    font-size: 1.4rem;
}

.section-six .button.white:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #6d6d6d;
} 

.section-six-column > a {
    display: block;
}

.section-six-a-column ul p {
    padding: 12px 0;
    color: #000;
}

.section-six-a-column li {
    display: inline;
}

.section-six-a-column li a {
    width: 80%;
    display: block;
    color: #6d6d6d;
    padding: 12px 0;
    border-bottom: 0.5px solid #efefef;
    transition: .3s;
}

.section-six-a-column li a:hover {
    color: #000;
}

.section-six-a-column li:last-of-type a {
    border-bottom: none;
}

.section-six-a-column:first-of-type {
    width: 40%;
}

.section-six-a-column:last-of-type h1 {
    font-weight: 400;
    color: #6d6d6d;
    text-align: center;
    font-size: 1.5rem;
}

.section-six-a-column:last-of-type form {
    margin-top: 12px;
    padding: 32px;
    background-color: #f0f7ff;
}

fieldset {
    padding: 12px 32px 32px 32px;
    background-color: #fff;
}

form .container {
    margin-top: 16px;
}

form h4 {
    font-weight: 600;
}

form input {
    margin-top: 6px;
}

form label {
    margin-top: 6px;
}

form .small {
    font-size: .8rem;
    margin: 8px 0;
}

input[type=checkbox] {
    margin-top: 12px;
}

input[type=text] {
    padding: 6px;
    width: 100%;
}

input[type=submit] {
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #2ba53f;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

label[for=agree] {
    font-size: .9rem;
}

.section-six-b {
    margin: 24px auto 36px;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #0096c0; */

    gap: 48px;
}

.section-six-b h2 {
    font-weight: 400;
    /* border: 1px solid #0096c0; */
}

.section-six-b img {
    width: 180px;
    /* border: 1px solid #0096c0; */
}

/* Footer */

.footer-container,
.footer-three-container {
    width: 100%;
    background-color: #3f3f3f;
}

.footer-one,
.footer-two,
.footer-three {
    width: 60%;
    margin: auto;
}

.footer-one {
    padding-bottom: 80px;
    border-bottom: 0.5px solid #efefef;
}

.footer-container p,
.footer-container h4,
.footer-container h2,
.footer-container h1,
.footer-container a {
    color: #fff;
    text-decoration: none;
    transition: .3s;
}

.footer-container h2 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 16px;
}

.footer-container h1 {
    font-size: 2rem;
    font-weight: 400;
}

.footer-site {
    padding-top: 24px;
    position: relative;
    border: 1px solid #067c9c;
    text-align: center;
}

.footer-site img {
    width: 16rem;
    z-index: 0;
    background-color: #3f3f3f;
}

.footer-site .strikethrough {    
    border-top: 0.5px solid #efefef;
    position: absolute;
    width: 100%;
    top: 60%;
    z-index: 0;
}

.footer-one-columns {
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.footer-one-column:first-of-type a {
    padding: 6px 0;
    width: 80%;
    display: block;
    border-bottom: 1px solid #fff;
}

.footer-one a,
.footer-one p {
    font-size: 1.2rem;
}

.footer-one a:hover {
    color: #ccc;
}

.footer-one-column {
    flex: 1 1 0;
}

.column-two {
    text-align: center;
}

.column-two a {
    margin-top: 6px;
    display: block;
    font-size: 1.2rem;
}

.footer-two {
    margin-top: 48px;
}

.footer-two i {
    padding: 13px 15px 12px 15px;
}

.footer-two .footer-socials {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 28px;
    padding-bottom: 56px;
}

.footer-two .fa-brands {
    font-size: 26px;
    border-radius: 50px;
    transition: 0.3s;
}

.footer-two .fa-whatsapp {
    border: 3px solid #2ba53f;
}

.footer-two .fa-whatsapp:hover {
    background-color:  #2ba53f;
}

.footer-two .fa-instagram {
    border: 3px solid #a32d45;
}

.footer-two .fa-instagram:hover {
    background-color:  #a32d45;
}

.footer-two .fa-facebook {
    border: 3px solid #2b84a5;
}

.footer-two .fa-facebook:hover {
    background-color:  #2b84a5;
}

.footer-three-container {
    background-color: #000;
}

.footer-three {
    display: flex;
    justify-content: space-between;
    height: 120px;
}

.footer-three p,
.footer-three strong {
    color: #6d6d6d;
}

.footer-three > div {
    display: flex;
    /* border: 1px solid #067c9c; */

}

.footer-three svg {
    display: block;
    color: #efefef;
}

.footer-three p {
    margin-top: 16px;
    font-size: 1.5rem;
}

svg {
    margin: 24px 6px;
    /* border: 1px solid #067c9c; */
    border-radius: 8px;
    background-color: #3f3f3f;
    display: block;
    width: 88px;
    height: 48px;
    padding: 6px 10px;
}


/* Button top */

.button-top {
    display: none;
    position: fixed;
    bottom: 32px;
    right: 32px;
    border: 2px solid #6d6d6d;
    border-radius: 50px;
    padding: 14px 16px;
    scroll-behavior: smooth;
    cursor: pointer;
    transition: .3s;
}

.button-top i {
    text-decoration: none;
    color: #6d6d6d;
    font-size: 1.3rem;
}

.button-top:hover {
    background-color: #6d6d6d;
    border: 2px solid #6d6d6d;
}

.button-top:hover i {
    color: #fff;
}